<h4> Posts tagged with <%= @tag.name %></h4>

<div class='container'>
  <%= render @tag.posts %> <!--don't need to name the partial, it auto looks-->
</div> <!-- for a partial of the name of the model -->